body{
    font-family: OpenSans, Tahoma, Arial;
    background-color: #f5e9dd;
}

.h-bg-c{
    background-color: rgba(0,0,0,0.8);
}

.base-bg-color{
    background-color: #f5e9dd;
}

.container {
    padding: 0 17em;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

* {
    outline: none;
    margin: 0;
}

footer{
    width: 100%;
}
